[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/NoahRakes
[access "refs/for/refs/*"]
	read = group user/NoahRakes
	push = group user/NoahRakes
	label-Code-Review = -2..+2 group user/NoahRakes
	label-Verified = -1..+1 group user/NoahRakes
	rebase = group user/NoahRakes
	removeReviewer = group user/NoahRakes
	submit = group user/NoahRakes
[access "refs/heads/*"]
	read = group user/NoahRakes
	create = group user/NoahRakes
	push = +force group user/NoahRakes
	pushMerge = group user/NoahRakes
[access "refs/tags/*"]
	push = group user/NoahRakes
	push = +force group user/NoahRakes
